@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="templatemo_content_wrapper">

    <div id="templatmeo_sidebar">


        <div class="sidebar_section">
            <h2><a href="/Admin/Signup">Sign up</a></h2>
            <div class="sidebar_section_content">





                <div class="cleaner"></div>
            </div>

        </div>

        <div class="sidebar_section">

            <h2>Categories</h2>

            <div class="sidebar_section_content">

                <ul class="categories_list">
                    <li><a href="/Home/Female">Female Shoes</a></li>
                    <li><a href="/Home/Male">Male Shoes</a></li>
                    <li><a href="/Home/Kids">Kids Shoes</a></li>

                </ul>
            </div>

        </div>

    </div> <!-- end of templatemo_slider -->

    <div id="templatemo_content">

        <div class="content_section">

            <h2>About</h2>

            <p>We proudly designing, manufacturing and retailing stylish shoes that serve a multitude of purposes.</p><br>
            <p>
                Thousands of years ago, shoes were purely utilitarian; a rudimentary covering to protect the human foot. As time progressed, so did the function, form, and importance of the shoe. Today's shoes are asked to work harder than ever and they must do so while looking fashionable, feeling comfortable, and supporting a variety of activities.
                This collection of popular shoe types will have you viewing footwear in an entirely new light.
            </p>
            <p>The right shoe transforms an ordinary outfit into an extraordinary one. Create a winning shoe portfolio by stocking your closet with these 10 essential shoe types and you’ll never be caught without the ideal footwear again.<p />
            <p>You can choose from a number of shoe styles - sandals, flats, ballerinas, sneakers, loafers, canvas among others.Shopping online for Casual shoes is now hassle free. Flipkart houses an extensive collection of shoes from major brands such as - Puma, Adidas, Reebok, Nike, Converse, vans, Louis Philippe, Skechers, Hush Puppies, Kittens, Tom & Jerry, Allen solly, U. S. Polo Assn. among others. Shoes have been classified according to price, size, color, brand, availability, and offers available on products. Add your item(s) to cart after selection to place your order. You also have the option of tracking your order. Payment options include - net banking, payment using credit, debit card, or cash on delivery.</p>









            <div class="cleaner"></div>
        </div>

    </div> <!-- end of templatemo_content -->

    <div class="cleaner"></div>

</div> <!-- end of templatemo_content_wrapper -->
<div id="templatemo_content_wrapper_bottom"></div>

