@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body>

    <div id="templatemo_content_wrapper">

        <div id="templatmeo_sidebar">


            <div class="sidebar_section">
                <h2><a href="/Admin/Signup">Sign up</a></h2>
                <div class="sidebar_section_content">





                    <div class="cleaner"></div>
                </div>
            </div>

            <div class="sidebar_section">

                <h2>Categories</h2>

                <div class="sidebar_section_content">

                    <ul class="categories_list">
                        <li><a href="/Home/Female">Female Shoes</a></li>
                        <li><a href="/Home/Male">Male Shoes</a></li>
                        <li><a href="/Home/Kids">Kids Shoes</a></li>

                    </ul>
                </div>

            </div>

        </div> <!-- end of templatemo_slider -->

        <div id="templatemo_content">

            <div class="content_section">

                <h2>Contact</h2>
                <h3>Call us: </h3>

                <p>
                    We're available 24 hours a day.<br>
                    (0124) 1234567
                </p>

                <h3>Mail us:</h3>

                <p>MCSF13M012@pucit.edu.pk</p> <p>Ridzi_rokx@yahoo.com</p>







                <div class="cleaner"></div>

            </div>

        </div> <!-- end of templatemo_content -->

        <div class="cleaner"></div>

    </div> <!-- end of templatemo_content_wrapper -->
    <div id="templatemo_content_wrapper_bottom"></div>

