@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="templatemo_content_wrapper">

    <div id="templatmeo_sidebar">




        <div class="sidebar_section">

            <h2>Categories</h2>

            <div class="sidebar_section_content">

                <ul class="categories_list">
                    <li><a href="/Home/Female">Female Shoes</a></li>
                    <li><a href="/Home/Male">Male Shoes</a></li>
                    <li><a href="/Home/Kids">Kids Shoes</a></li>

                </ul>
            </div>

        </div>

    </div> <!-- end of templatemo_slider -->

    <div id="templatemo_content">



        <div class="content_section">

            <h2>New Male Products</h2>

            <div class="product_box margin_r40">

                <div class="image_wrapper"><a href="http://www.templatemo.com/page/1" target="_parent"> <img src="~/images/gents1.jpg" alt="product" height="100" width="200" /></a></div>
                <h3>Female Shoes</h3>

                <p class="price">Price: $250</p>
                <a href="#">Detail</a> | <a href="#">Buy Now</a>
                <br>
            </div>

            <div class="product_box">

                <div class="image_wrapper"><a href="http://www.templatemo.com/page/2" target="_parent"><img src="~/images/gents2.jpg" alt="product" height="100" width="200" /></a></div>
                <h3>Male Shoes</h3>

                <p class="price">Price: $350</p>
                <a href="#">Detail</a> | <a href="#">Buy Now</a>
                <br>
            </div>

            <div class="cleaner"></div>

            <div class="product_box margin_r40">

                <div class="image_wrapper"><a href="http://www.templatemo.com/page/3" target="_parent"><img src="~/images/gents3.jpg" alt="product" height="100" width="200" /></a></div>
                <h3>Kids Shoes</h3>

                <p class="price">Price: $150</p>
                <a href="#">Detail</a> | <a href="#">Buy Now</a>
                <br>
            </div>

            <div class="product_box">

                <div class="image_wrapper"><a href="http://www.templatemo.com/page/4" target="_parent"><img src="~/images/gents4.jpg" alt="product" height="100" width="200" /></a></div>
                <h3>Female Shoes</h3>

                <p class="price">Price: $550</p>
                <a href="#">Detail</a> | <a href="#">Buy Now</a>
                <br>
            </div>
            <div class="product_box margin_r40">

                <div class="image_wrapper"><a href="http://www.templatemo.com/page/3" target="_parent"><img src="~/images/gents5.jpg" alt="product" height="100" width="200" /></a></div>
                <h3>Kids Shoes</h3>

                <p class="price">Price: $150</p>
                <a href="#">Detail</a> | <a href="#">Buy Now</a>
                <br>
            </div>

            <div class="product_box">

                <div class="image_wrapper"><a href="http://www.templatemo.com/page/4" target="_parent"><img src="~/images/gents6.jpg" alt="product" height="100" width="200" /></a></div>
                <h3>Female Shoes</h3>

                <p class="price">Price: $550</p>
                <a href="#">Detail</a> | <a href="#">Buy Now</a>
                <br>
            </div>

            <div class="cleaner"></div>

        </div>

    </div> <!-- end of templatemo_content -->

    <div class="cleaner"></div>

</div> <!-- end of templatemo_content_wrapper -->
<div id="templatemo_content_wrapper_bottom"></div>

