@model MvcApplication1.Models.RegisterModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="templatemo_content_wrapper">

    <div id="templatmeo_sidebar">




        <div class="sidebar_section">

            <h2>Categories</h2>

            <div class="sidebar_section_content">

                <ul class="categories_list">
                    <li><div class="image_wrapper"><img src="~/images/xigKzEg4T.png" alt="product" height="50" width="50" /></div><a href="/Customer/Cart">My Cart</a></li>
                    <li><a href="/Home/Female">Female Shoes</a></li>
                    <li><a href="/Home/Male">Male Shoes</a></li>
                    <li><a href="/Home/Kids">Kids Shoes</a></li>

                </ul>
            </div>

        </div>

    </div> <!-- end of templatemo_slider -->

    <div id="templatemo_content">



        <div class="content_section">

            <h2>Profile</h2>

            <p class="message-success">@ViewBag.StatusMessage</p>

            <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>


            <div class="product_box margin_r40">

                <form action="/home/Save" method="post" enctype="multipart/form-data">
                    Upload Profile Image : <input type="file" name="image" />
                    <input type="submit" value="Upload" />
                </form>

                @* @foreach (var i in Model)
                    {
                         <img src="@i.Image" height="100" width="175" alt="" />
                    }*@

                <h1>
                        <a href="/Admin/Manage">Update Record</a></h1>

              



            </div>

            <div class="product_box">

                <p>List of bought product  : </p>
            </div>

            <div class="cleaner"></div>



        </div>

    </div> <!-- end of templatemo_content -->

    <div class="cleaner"></div>

</div> <!-- end of templatemo_content_wrapper -->
<div id="templatemo_content_wrapper_bottom"></div>

